name: Deploy Node App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_NAME }}
          password: ${{ secrets.EC2_PASS }}
          script: |
            rm -rf /home/ubuntu/ci-cd
            git clone https://github.com/SASIKUMAR2002/ci-cd.git
            cd /home/ubuntu/ci-cd
            npm install
            pm2 delete app || true
            pm2 start app.js --name app

